doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Our pricing 
        // main style file
        link(rel="stylesheet", href="css/style.css")
        // FHF framework
        link(rel="stylesheet", href="css/FHF.css")
        // script part
        script(src="js/main.js" defer) 
    body
        .container
            .switchAndTitle 
                h1 Our Pricing
                .switchDiv
                    span.switchContainer 
                        span.switch 
            .cards
                .card.basic
                    h3 Basic
                    h2 $19.99
                    hr
                    p 500 GB Storage
                    hr
                    p 2 User allowed
                    hr
                    p Send up to 3GB
                    hr
                    a(href="#") LEARN MORE 
                .card.pro
                    h3 Professional
                    h2 $24.99
                    hr
                    p 1 TB Storage
                    hr
                    p 5 Users Allowed
                    hr
                    p Send up to 10 GB
                    hr
                    a(href="#") LEARN MORE 
                .card.master
                    h3 Master
                    h2 $39.99
                    hr
                    p 2 TB Storage
                    hr
                    p 10 Users Allowed
                    hr
                    p Send up to 20 GB
                    hr
                    a(href="#") LEARN MORE 